<section class="facts-sec">
    <div class="container">
      <div class="sec-title">
        <h2>Our Some Fun Fects</h2>
      </div>
      <!--sec-title end-->
      <div class="facts-row">
        <div class="fact-col">
          <h3>Happy Customer</h3>
          <h2>12<span>K</span></h2>
        </div>
        <!--fact-col end-->
        <div class="fact-col">
          <h3>Complete Work</h3>
          <h2>15<span>K</span></h2>
          <span>+</span>
        </div>
        <!--fact-col end-->
        <div class="fact-col">
          <h3>Total Invest</h3>
          <h2><small>$</small>15<span>M</span></h2>
        </div>
        <!--fact-col end-->
        <div class="clearfix"></div>
      </div>
      <!--facts-row end-->
    </div>
  </section>
  <!--facts-sec end-->
