<header>
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="index.html" title="">
          <img src="/assets/images/{{ include.logoImg | default: 'logo.png' }}" alt="bolans">
        </a>
      </div>
      <!--logo end-->
      <nav>
        <ul>
          <li><a class="active" href="index.html" title="">Home</a></li>
          <li><a href="about.html" title="">About</a></li>
          <li><a href="services.html" title="">Services</a>
            <ul>
              <li><a href="service-details.html" title="">Service Details</a></li>
            </ul>
          </li>
          <li><a href="team.html" title="">Team</a></li>
          <li><a href="blog.html" title="">Blog</a>
            <ul>
              <li><a href="blog-details.html" title="">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="#" title="">Pages</a>
            <ul>
              <li><a href="shop.html" title="">Shop</a>
                <ul>
                  <li><a href="shop-details.html" title="">Shop Details</a></li>
                </ul>
              </li>
              <li><a href="shopping-cart.html" title="">Shopping Cart</a></li>
              <li><a href="checkout.html" title="">Checkout</a></li>
              <li><a href="faqs.html" title="">FAQs</a></li>
              <li><a href="coming-soon.html" title="">Coming Soon</a></li>
              <li><a href="404.html" title="">Error 404</a></li>
              <li><a href="sign-in.html" title="">Sign In</a></li>
              <li><a href="sign-up.html" title="">Sign Up</a></li>
            </ul>
          </li>
          <li><a href="contact.html" title="">Contact</a></li>
        </ul>
      </nav>
      <!--navigation end-->
      <div class="contact">
        <img src="/assets/images/{{ include.contactImg | default: 'user_icon.png' }}" alt="">
        <div class="contact-info">
          <span>Needs For Help</span>
          <h4>082-456-3254</h4>
        </div>
      </div>
      <!--contact end--->
      <div class="menu-bar">
        <a href="#" title="">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </a>
      </div>
      <!--menu-btn end-->
      <div class="clearfix"></div>
    </div>
    <!--header-content end-->
  </div>
</header>
<!--header end-->
