{% include header.html %}
{% include mobile-menu.html %}

<section class="banner-section style3">
  <div class="container">
    <div class="banner-text">
      <h2>Modern Design to Showcase Your App!</h2>
      <p>consectetur adipiscing elit. Nunc eget felis id purus lobortis ultricies sit amet sed diam. Donec nisi lacus.
      </p>
      <a href="#" title="" class="btn-default">Request Demo</a>
    </div>
    <!--banner_text end-->
    <div class="vector-shape">
      <img src="/assets/images/resources/bg-vector3.png" alt="">
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!--banner-section end-->
