<section class="marketing-sol-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="vector-img">
          <img src="/assets/images/resources/vector3.png" alt="">
        </div><!--vector-img end-->
      </div>
      <div class="col-lg-6">
        <div class="sol-col">
          <div class="sec-title">
            <h2>Advanced Marketing Solutions that Works for Clients!</h2>
          </div>
          <p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p>Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit animd est laborum sed ut perspiciatis unde omnis natus error sit.</p>
          <a href="#" title="" class="lnk-default">About Company <span class="next-btn"><i class="fa fa-long-arrow-right"></i></span></a>
        </div><!--sol-col end-->
      </div>
    </div>
  </div>
</section><!--marketing-sol-sec end-->
