<div class="mobile-menu">
    <div class="menu-bar">
      <a href="#" title="">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
      </a>
    </div>
    <!--menu-btn end-->
    <ul>
      <li class="menu-item-has-children"><a class="active" href="index.html" title="">Home</a>
        <ul>
          <li><a class="active" href="index.html" title="">HomePage 1</a></li>
          <li><a href="index2.html" title="">HomePage 2</a></li>
          <li><a href="index3.html" title="">HomePage 3</a></li>
          <li><a href="index4.html" title="">HomePage 4</a></li>
        </ul>
      </li>
      <li><a href="about.html" title="">About</a></li>
      <li class="menu-item-has-children"><a href="services.html" title="">Services</a>
        <ul>
          <li><a href="service-details.html" title="">Service Details</a></li>
        </ul>
      </li>
      <li><a href="team.html" title="">Team</a></li>
      <li class="menu-item-has-children"><a href="blog.html" title="">Blog</a>
        <ul>
          <li><a href="blog-details.html" title="">Blog Details</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children"><a href="#" title="">Pages</a>
        <ul>
          <li><a href="shop.html" title="">Shop</a></li>
          <li><a href="shop-details.html" title="">Shop Details</a></li>
          <li><a href="shopping-cart.html" title="">Shopping Cart</a></li>
          <li><a href="checkout.html" title="">Checkout</a></li>
          <li><a href="faqs.html" title="">FAQs</a></li>
          <li><a href="coming-soon.html" title="">Coming Soon</a></li>
          <li><a href="404.html5lightbox" title="">Error 404</a></li>
        </ul>
      </li>
      <li><a href="contact.html" title="">Contact</a></li>
    </ul>
  </div>
  <!--mobile-menu end-->
