<section class="seo-sec">
  <div class="container">
    <div class="seo-sec-details text-center">
      <div class="sec-title center-style">
        <h2>Check your Website’s SEO!</h2>
      </div>
      <!--sec-title end-->
      <form class="form-row">
        <input type="text" name="search">
        <button type="submit">Check Now</button>
      </form>
      <p>The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey Why gormless, pear shaped.!
      </p>
    </div>
    <!--seo-sec-details end-->
  </div>
</section>
<!--seo-sec end-->
