<section class="subs-sec pt-120">
    <div class="container">
      <div class="subscribe-sec no-brb">
        <div class="row">
          <div class="col-lg-6">
            <div class="subs-img">
              <img src="/assets/images/resources/subs-img.png" alt="">
            </div><!--subs-img end-->
          </div>
          <div class="col-lg-6">
            <div class="subs-text">
              <div class="sec-title">
                <h2>Subscribe Our Newsletter</h2>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit donec tempus pellentesque dui vel tristique purus justo </p>
              <form>
                <input type="email" name="email" placeholder="E-mail">
                <button type="submit">Subscribe Now</button>
              </form>
            </div><!--subs-text end-->
          </div>
        </div>
      </div><!--subscribe-sec end-->
    </div>
  </section>
