<section class="tips-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="vector-bg">
            <img src="/assets/images/resources/vector3.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tips-col">
            <div class="sec-title">
              <h2>How to Upgrade Your Sales Get Tips &amp; Tricks.</h2>
            </div>
            <p>Faff about only a quid blower I don’t want no agro bleeding chimney pot burke tosser cras nice one boot
              fanny.!</p>
            <div class="tps-col">
              <div class="tps-row">
                <div class="tp-icon">
                  <span class="fl-icon"><i class="flaticon-profit"></i></span>
                </div>
                <div class="tp-info">
                  <h3>Analysis &amp; Reporting</h3>
                  <p>Naff are you taking the piss say blow off faff about wellies richard.</p>
                </div>
              </div>
              <!--tps-row end-->
              <div class="tps-row">
                <div class="tp-icon">
                  <span class="fl-icon"><i class="flaticon-handcraft"></i></span>
                </div>
                <div class="tp-info">
                  <h3>Audit For Technical SEO </h3>
                  <p>Naff are you taking the piss say blow off faff about wellies richard.</p>
                </div>
              </div>
              <!--tps-row end-->
            </div>
            <!--tps-col end-->
          </div>
          <!--tips-col end-->
        </div>
      </div>
    </div>
  </section>
  <!--tips-sec end-->
