%underline {
  content: '';
  position: absolute;
  bottom: 0;
  height: 6px;
}

.sec-title {
  margin-bottom: 80px;
  margin-top: -15px;

  >h2 {
    float: left;
    color: $primary-ft-color;
    font-size: 36px;
    position: relative;
    padding-bottom: 38px;
    line-height: 50px;

    &:before,
    &:after {
      @extend %underline;
    }

    &:before {
      left: 0;
      width: 76px;
      background-color: $underline-before-bg-color;
    }

    &:after {
      left: 86px;
      width: 20px;
      background-color: $underline-after-bg-color;
    }
  }

  &.text-center {

    >h2 {
      float: none !important;

      &:before,
      &:after {
        left: 50%;
        @include simple-prefix(transform, translateX(-50%), webkit moz ms o);
      }

      &:before {
        margin-left: -29px;
      }

      &:after {
        margin-left: 29px;
      }
    }
  }
}
