

.blog_page .blog-item .blog-img img {
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-ms-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
.blog_page .blog-item {
	margin-bottom: 50px;
}
.blog_page .blog-item .blog-title {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 29px;
}
.blog_page .blog-item .blog-info p {
	margin-bottom: 40px;
}
.blog_page .meta {
	margin-bottom: 21px;
}
.blog_page .blog-info {
	padding: 31px 30px 27px;
}

.pagination-row {
	margin-top: 74px;
}
.pagination {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.pagination-row nav {
	float: none;
	padding: 0;
}
.pagination-row nav ul li {
	padding: 0;
	margin-right: 12px;
}
.pagination-row nav ul li:last-child {
	margin-right: 0;
}
.page-link {
	width: 40px;
	height: 40px;
	background-color: #ebebeb;
	line-height: 40px;
	color: #777777;
	font-size: 16px;
	padding: 0;
}
.page-link:hover {
	color: #ffffff;
	background-color: #2200bd;
}

.page-item.active .page-link {
	background-color: #2200bd;
	border-color: transparent;
}




/* =================== SIDEBAR ====================== */

.sidebar .widget {
	margin-bottom: 70px;
}
.sidebar .widget:last-child {
	margin-bottom: 0;
}

/* =================== WIDGET SEARCH ====================== */

.widget-search form {
	width: 100%;
	position: relative;
}
.widget-search form input {
	width: 100%;
	height: 60px;
	color: #777777;
	font-size: 14px;
	padding: 0 31px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.10);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.10);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.10);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.10);
	box-shadow: 0 0 20px rgba(0,0,0,0.10);
	border:0;
}
.widget-search form button {
	position: absolute;
	top: 50%;
	right: 31px;
	color: #4f4eb4;
	font-size: 14px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: inherit;
	border:0;
	font-size: 20px;
}
.sidebar .widget-title {
	color: #222222;
	font-size: 24px;
	margin-bottom: 41px;
	margin-top: -10px;
}
.categories-list {
	float: left;
	width: 100%;
}
.categories-list li {
	display: block;
	float: left;
	width: 100%;
	border-bottom: 1px solid #dddddd;
	padding: 24px 0;
}
.categories-list li a {
	float: left;
	color: #777777;
	font-size: 16px;
	font-weight: 700;
}
.categories-list li span {
	float: right;
	color: #777777;
	font-size: 16px;
	font-weight: 700;
}
.categories-list li:hover a,
.categories-list li:hover span {
	color: #0800ad;
}
.categories-list li:first-child {
	padding-top: 0;
}
.categories-list li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}


/* =================== WIDGET RECENT POSTS ====================== */


.recent-posts li {
	display: block;
	border-bottom: 1px solid #dddddd;
	padding: 20px 0;
}
.recent-posts li:first-child {
	padding-top: 0;
	border-top: 0;
}
.recent-posts li:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}
.rect-post {
	width: 100%;
	display: table;
}
.post-thumb {
	display: table-cell;
	float: left;
	width: 80px;
}
.rect-post > img {
	width: 100%;
}
.post-info {
	display: table-cell;
	width: 100%;
	vertical-align: top;
	padding-left: 30px;
}
.post-info > h3 {
	font-size: 18px;
	color: #222222;
	margin-bottom: 4px;
	margin-top: -6px;
}
.post-info > span {
	display: inline-block;
	color: #777777;
	font-size: 14px;
}
.post-info > h3:hover {
	color: #0800ad;
}

/* =================== WIDGET TAGS LIST ====================== */

.tags-list li {
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 10px;
}
.tags-list li a {
	display: inline-block;
	color: #777777;
	font-size: 14px;
	border:1px solid #ebebeb;
	height: 50px;
	line-height: 50px;
	padding: 0 28px;
	font-weight: 500;
}
.tags-list li a:hover {
	background-color: #0800ad;
	color: #fff;
	border-color: transparent;
}

/* =================== BLOG SINGLE PAGE ====================== */

.blog_page.single .blog-item .blog-info p {
	margin-bottom: 30px;
}
.blog-item .blog-info blockquote {
	position: relative;
	margin-bottom: 52px;
	padding-top: 20px;
}
.blog-item .blog-info blockquote:before {
	content: '\f10d';
	font-family: fontawesome;
	position: absolute;
	top: 41px;
	left: 0;
	color: #0800ad;
	font-size: 16px;
	background-color: #e5f3ff;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	z-index: 1;
}
.blog-item .blog-info blockquote:after {
	content: '';
	position: absolute;
	top: 24px;
	left: 16px;
	width: 12px;
	height: 101px;
	background-image: url(../images/shape3.png);
	background-repeat: no-repeat;
}
.blog-item .blog-info blockquote p {
	color: #222222;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	padding-left: 75px;
}

.align_left {
	float: left;
	margin-right: 35px;
}
.align_left + p {
	padding-top: 19px;
}
.shr-row {
	margin-top: 60px;
}
.layout2 .shr-row {
	margin-top: 30px;
}
.shop-item.single .shop-img:before {display: none;}



/* ======================== COMMENTS SECTION ======================= */

.comments-section {
	margin: 86px 0 0;
}
.comments-section > h3 {
	color: #222222;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 46px;
}
.comments-list > li {
	display: block;
	margin-bottom: 20px;
}
.comments-list ul {
	padding-left: 160px;
}
.comment {
	display: table;
	width: 100%;
	margin-bottom: 57px;
}
.cmnt-img {
	display: table-cell;
	float: left;
	width: 120px;
}
.cmnt-img > img {
	width: 100%;
}
.cmnt-info {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	padding-left: 36px;
	position: relative;
}
.cmnt-info > h3 {
	color: #222222;
	font-size: 20px;
	margin-bottom: 12px;
}
.cmnt-info > h3 span {
	display: inline-block;
	color: #777777;
	font-size: 16px;
	padding-left: 15px;
	font-weight: 400;
}
.cmnt-info > p {
	font-weight: 500;
	font-size: 16px;
}
.reply-btn {
	display: inline-block;
	color: #0800ad;
	font-size: 14px;
	position: absolute;
	top: 10px;
	right: 0;
	font-weight: 700;
}
.reply-btn:hover {
	color: #0800ad;
}


/* ======================== COMMENTS FORM SECTION ======================= */

.comment-form {
	padding-top: 28px;
}
.comment-form > h3 {
	color: #222222;
	font-size: 36px;
	margin-bottom: 46px;
}
.form-field {
	width: 100%;
	margin-bottom: 20px;
}
.form-field input,
.form-field textarea {
	width: 100%;
	height: 60px;
	color: #aaaaaa;
	font-size: 14px;
	border:1px solid #dddddd;
}
.form-field input {
	height: 60px;
	padding: 0 38px;
}
.form-field textarea {
	height: 186px;
	padding: 43px 38px;
	resize: none;
}
.form-submit {
	margin-top: 19px;
}
.form-submit .btn-style2 {
	border:0;
}
