
/* ==================== HOMEPAGE 2 ===================== */

.banner_section {
	/*background-image: url(https://via.placeholder.com/1920x1136);*/
	background-image: url(../images/resources/banner-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 403px 0 249px;
}
.banner_text {
	max-width: 480px;
}
.banner_text > h4 {
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 29px;
	font-weight: 400;
}
.banner_text > h2 {
	color: #ffffff;
	font-size: 48px;
	line-height: 72px;
	margin-bottom: 26px;
}
.banner_text > p {
	color: #ffffff;
	max-width: 420px;
	margin-bottom: 61px;
}
.banner_text .btn-default {
	color: #000c29;
	background-color: #fff;
	border-color: transparent;
}
.banner_text .btn-default:hover {
	background-color: #ff7e00;
	color: #fff;
}



.digital-marketing-sec {
	padding: 200px 0;
}


.how-works-sec.style2 {
	background-image: url(../images/bg5.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding: 120px 0 0 0;
}
.how-works-sec.style2 .features-row .row {
	justify-content: center;
}
.how-works-sec.style2 .feature-col {
	margin-bottom: 60px;
}
.how-works-sec.style2 .feature-col:before {
	background-image: url(../images/bg-shape2.png);
}
.how-works-sec.style2 .feature-col.center-main {
	padding-bottom: 90px;
}
.how-works-sec.style2 .sec-title > h2 {
	float: none;
}
.how-works-sec.style2 .feature-col > h3:before {
	display: none;
}




