
/* ==================== HOMEPAGE 2 ===================== */

.banner_section {
	/*background-image: url(https://via.placeholder.com/1920x1136);*/
	background-image: url(../images/resources/banner-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 403px 0 249px;
}
.banner_text {
	max-width: 480px;
}
.banner_text > h4 {
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 29px;
	font-weight: 400;
}
.banner_text > h2 {
	color: #ffffff;
	font-size: 48px;
	line-height: 72px;
	margin-bottom: 26px;
}
.banner_text > p {
	color: #ffffff;
	max-width: 420px;
	margin-bottom: 61px;
}
.banner_text .btn-default {
	color: #000c29;
	background-color: #fff;
	border-color: transparent;
}
.banner_text .btn-default:hover {
	background-color: #ff7e00;
	color: #fff;
}
.partner-sec.style2 {
	margin-bottom: 0;
}
.partner-sec.style2 .partner-sec-details {
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	-ms-box-shadow: inherit;
	-o-box-shadow: inherit;
	box-shadow: inherit;
}
.partner-sec.style2 .partner-col > a img {
	filter: grayscale(0);
}



.digital-marketing-sec {
	padding: 200px 0;
}


.how-works-sec.style2 {
	background-image: url(../images/bg5.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding: 120px 0 0 0;
}
.how-works-sec.style2 .features-row .row {
	justify-content: center;
}
.how-works-sec.style2 .feature-col {
	margin-bottom: 60px;
}
.how-works-sec.style2 .feature-col:before {
	background-image: url(../images/bg-shape2.png);
}
.how-works-sec.style2 .feature-col.center-main {
	padding-bottom: 90px;
}
.how-works-sec.style2 .sec-title > h2 {
	float: none;
}
.how-works-sec.style2 .feature-col > h3:before {
	display: none;
}


.marketing-sol-sec .sec-title {
	margin-bottom: 48px;
}
.vector-img > img {
	max-width: 90%;
}
.sol-col > p {
	line-height: 36px;
	margin-bottom: 35px;
}
.marketing-sol-sec {
	background-image: url(../images/bg-shape3.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 190px 0 190px;
}
.lnk-default {
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	background-color: $third-ft-color;
	padding: 0 77px 0 30px;
	height: 60px;
	line-height: 60px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.20);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.20);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.20);
	box-shadow: 0 0 10px rgba(0,0,0,0.20);
	position: relative;
	margin-top: 7px;
}
.lnk-default:hover {
	color: #fff;
	background-color: #ff7e00;
}
.lnk-default:hover .next-btn {
	color: #fff;
	background-color: #ff7e00;
	border-color: #ff7e00;
}
.next-btn {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #6836ff;
	font-size: 18px;
	border:2px solid #6836ff;
	background-color: #fff;
}

/* ========================== TESTIMONIAL SEC LAYOUT 2 =========================== */

.testimonial_sec {
	background-image: url(../images/bg9.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 200px 0;
}
.testi_sec .sec-title {
	margin-bottom: 47px;
}
.testi_sec .sec-title h2 {
	color: #fff;
}
.testi_slide > p {
	color: #fff;
	line-height: 36px;
	padding-right: 80px;
	margin-bottom: 53px;
}
.user-col {
	display: table;
	width: 100%;
}
.user-img {
	display: table-cell;
	float: left;
	width: 170px;
	position: relative;
}
.user-img:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 57px;
	height: 57px;
	background-color: #6836ff;
	text-align: center;
}
.user-img:after {
	content: '';
	position: absolute;
	top: 18px;
	right: 15px;
	width: 27px;
	height: 21px;
	background-image: url(../images/quote.png);
	background-repeat: no-repeat;
}
.user-img img {
	width: 100%;
	margin: 0;
}
.user-info {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	padding-left: 58px;
}
.user-info > h3 {
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 3px;
}
.user-info > span {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 20px;
	color: #fff;
}
.rating {
	display: block;
}
.rating li {
	display: inline-block;
	margin-right: -4px;
}
.rating li i {
	display: inline-block;
	color: #fd9f26;
	font-size: 16px;
}


.layout2 .slick-prev, .layout2  .slick-next  {
	width: 40px;
	height: 60px;
	background-color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	right: 0;
	border:1px solid #0207b3;
}
.layout2 .slick-prev:hover,
.layout2 .slick-next:hover {
	background-color: #fd9f26;
	border-color: transparent;
}
.layout2 .slick-prev:hover:before,
.layout2 .slick-next:hover:before {
	color: #fff;
}
.layout2 .slick-prev {
	margin-right: 0;
	margin-top: -80px;
}
.layout2 .slick-prev:before {
	content: '\f176';
}
.layout2 .slick-next:before {
	content: '\f175';
}
