
.popup-form {
	max-width: 500px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.05);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.05);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.05);
	box-shadow: 0 0 20px rgba(0,0,0,0.05);
	margin: 0 auto;
	padding: 50px;
	text-align: center;
}
.popup-form .shipp input[type="checkbox"] + label span:before {
	top: 1px;
	left: 3px;
}
.popup-form > h3 {
	color: $third-ft-color;
	font-size: 36px;
	margin-bottom: 53px;
	margin-top: -4px;
}
.popup-form .form-field {
	margin-bottom: 30px;
}
.popup-form .form-field input {
	border:0;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.05);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.05);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.05);
	box-shadow: 0 0 20px rgba(0,0,0,0.05);
}
.popup-form .shipp > p {
	display: inline-block;
	color: #bbbbbb;
	font-size: 14px;
	font-weight: 500;
	margin-left: 5px;
}
.popup-form .shipp > p a {
	display: inline-block;
	color: $third-ft-color;
	font-weight: 700;
}
.popup-form .shipp input[type="checkbox"] + label span {
	width: 20px;
	height: 20px;
}
.popup-form .form-submit .btn-style2 {
	background:linear-gradient(to top, $third-ft-color, #2736ff);
}
.popup-form > p {
	color: #bbbbbb;
	font-size: 14px;
	font-weight: 500;
	margin-top: 20px;
}
.popup-form > p a {
	display: inline-block;
	color: $third-ft-color;
	font-weight: 700;
}
.popup-form .form-submit {
	margin-top: -5px;
}


.forgot-password {
	margin: 15px 0 29px;
}
.forgot-password > a {
	display: inline-block;
	color: $third-ft-color;
	font-size: 14px;
	font-weight: 700;
}



/* ==================== RESPONSIVE MOBILE MENU ==================== */

.menu-bar {
	float: right;
	position: relative;
	top: 5px;
	display: none;
}
.menu-bar a {
	display: inline-block;
	width: 100%;
}
.menu-bar a span {
	display: block;
	width: 100%;
	background-color: #222222;
	height: 2px;
	margin-bottom: 10px;
}
.menu-bar span.bar1 {
	width: 100%;
}
.menu-bar span.bar2 {
	width: 20px;
}
.menu-bar span.bar3 {
	width: 30px;
}
.menu-bar a span:last-child {
	margin-bottom: 0;
}
.menu-bar.active span.bar1 {
	-webkit-transform: translateY(15px) rotate(-45deg);
	-moz-transform: translateY(15px) rotate(-45deg);
	-ms-transform: translateY(15px) rotate(-45deg);
	transform: translateY(15px) rotate(-45deg);
}
.menu-bar.active span.bar2 {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(2,1);
	-moz-transform: scale(2,1);
	-ms-transform: scale(2,1);
	-o-transform: scale(2,1);
	transform: scale(2,1);
}
.menu-bar.active span.bar3 {
	-webkit-transform: translateY(-9px) rotate(-135deg);
	-moz-transform: translateY(-9px) rotate(-135deg);
	-ms-transform: translateY(-9px) rotate(-135deg);
	transform: translateY(-9px) rotate(-135deg);
}
